@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

button {
  cursor: pointer;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: flex;
  /* gap: 20px; */
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
